.material-symbols-rounded {
    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    accent-color: hsl(264 64% 35%);
}

html {
    -moz-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
    position: relative;
    font-family: system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace,
  SFMono-Regular,
  Consolas,
  'Liberation Mono',
  Menlo,
  monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    color: inherit;
    background-color: hsl(264 64% 35%);
    border-radius: 0.5rem;
    vertical-align: middle;
    text-decoration: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

summary {
    display: list-item;
}

label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.025em;
}

input {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    border: 2px solid;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    transition: background-color 400ms ease-in-out;
}

/*input:invalid {*/
/*  background-color: hsl(0 100% 93%);*/
/*  border-color: hsl(7 89% 60%);*/
/*}*/

input:focus:invalid {
    outline: none;
}


@media (prefers-color-scheme: dark) {
    html {
        color: #fff;
        background: hsl(216 28% 7%);
    }
}



